@media (max-width: 768px) {
    .decodificador {
        gap: 30px;
    }

    .logo {
        width: 60px;
    }

    .input__texto {
        width: 100%;
        font-size: 0.6rem;
    }

    .output__texto {
        width: 100%;
        font-size: 0.6rem;
    }

    .decodificador__info {
        img {
            width: 0.5rem;
        }

        span {
            font-size: 0.6rem;
        }
    }

    .decodificador__botoes {
        display: flex;
        flex-direction: column;
    }

    .decodificador__botoes button {
        font-size: 0.5rem;
    }

    #copiar {
        margin-bottom: 36px;
        font-size: 0.5rem;
    }

    .decodificador__info span,
    a {
        font-size: 0.5rem;
    }

    .rodape {
        span {
            font-size: 0.5rem;
        }

        a {
            font-size: 0.5rem;
        }
    }
}

@media (max-width: 480px) {
    .decodificador {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 15%;
    }

    .decodificador__info span {
        font-size: 0.4rem;
    }

    .decodificador__input {
        width: 100%;
    }

    .decodificador__output {
        width: 100%;
    }

    .input__texto {
        font-size: 0.5rem;
    }

    .input__texto::placeholder {
        text-align: center;
    }

    .output__texto {
        font-size: 0.5rem;
        padding: 10px;
    }

    #copiar {
        position: relative;
        margin-right: 3rem;
        margin-top: 0.5rem;
    }

    .rodape {
        margin-top: 0;

        span {
            font-size: 0.4rem;
        }

        a {
            font-size: 0.4rem;
        }
    }
}