* {
    background: #7FA1C3;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    border-radius: 50%;
    margin-left: 10px;
    width: 5%;
    border: 1px solid #0A3871;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.input__texto {
    border: none;
    color: #0A3871;
    margin-top: 40px;
    height: 90%;
    text-transform: lowercase;
    resize: none;
}

::placeholder { color: #0A3871;}
    .input__texto:focus {
        outline: none;
    }

.output__texto {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    margin: 30px;
    padding-left: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 90%;
    resize: none;
}

.output__texto:focus {
    outline: none;
}

.decodificador__botoes {
    display: flex;
    margin-top: 16px;
    gap: 24px;
}

#criptografar {
    background-color: #0A3871;
    border: 1px solid #D8DFE8;
    border-radius: 24px;
    color: #F5EDED;
    width: 328px;
    height: 67px;
    cursor: pointer;
}

#descriptografar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    width: 328px;
    height: 67px;
    cursor: pointer;
}

#copiar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #D8DFE8;
    width: 336px;
    height: 67px;
    margin-right: 80px;
    margin-top: 402px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.decodificador__info {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #495057;

    span {
        font-size: 18px;
    }
}

.rodape {
    text-align: center;
}