* {
    background: #7FA1C3;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
}

.logo {
    border-radius: 50%;
    margin: 10px;
    width: 5%;
    border: 1px solid #0A3871;
    transition: 0.3s ease-in-out;
}

main {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 4rem;
}

.input__texto {
    border: none;
    color: #0A3871;
    margin-top: 1rem;
    height: 90%;
    text-transform: lowercase;
    resize: none;
}

::placeholder { 
    color: #0A3871;
}

.input__texto:focus {
    outline: none;
}

.output__texto {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    margin: 1.4rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 84%;
    padding: 0.8rem;
    resize: none;
}
.output__texto::placeholder {
    background-image: url(../assets/boneco.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 90%;
    padding-top: 3%;
    font-size: 1.3rem;
}

.output__texto:focus {
    outline: none;
}

.decodificador__botoes {
    display: flex;
    margin-top: .4rem;
    gap: 1rem;
}

button {
    border-radius: 1rem;
    width: 14rem;
    height: 2.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#criptografar, #copiar{
    background-color: #0A3871;
    border: 1px solid #D8DFE8;
    color: #D8DFE8;
}
#criptografar:hover, #descriptografar:hover, #copiar:hover, .logo:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

#descriptografar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}

#copiar {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 4rem;
    margin-bottom: 3.2rem;
}

.decodificador__info {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #495057;

    span {
        font-size: 1rem;
    }
}

.rodape span {
    position:absolute;
    margin-left: 20%;
    font-size: 0.8rem;
    bottom: 0;
}

.rodape a {
    font-size: .8rem;
    text-decoration: none;
}